# Google Cloud
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBaY92eyif-AeWq0rbv6cIeJKKpaoWtSSU
GOOGLE_VISION_API_KEY=AIzaSyBwZ9SJqOZcSqkCXdyd_6iAYslNyJpHLx4

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xhlnissrbmzltfgfxkvy.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhobG5pc3NyYm16bHRmZ2Z4a3Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDU0MzIsImV4cCI6MjA5NTI4MTQzMn0.Mqq6pBYMVpsF_bPvN_GIXPRc2ywi4J-V-m3oHZMBIrw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhobG5pc3NyYm16bHRmZ2Z4a3Z5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTcwNTQzMiwiZXhwIjoyMDk1MjgxNDMyfQ.r2kDD7nsrGScQHD0ARzJY_jPzLL14jgJL5KYew6gx8M